{% extends 'base.html.twig' %}

{% block body %}
<h1>PAGE ACCUEIL</h1>

<div class="view hm-white-light jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://www.youtube.com/watch?v=4Q0ijG0ylr4">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row">
                <div class="col-md-12 wow fadeIn">
                    <div class="text-center text-danger">
                        <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Header + Video</h1>
                        <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Para poner imagen o video de fondo. <br>Realizado con <b>Bootstrap 4</b> y <b>Material Design para Bootstrap</b></h5> 
                        <a class="btn btn-danger btn-lg wow fadeInDown" data-wow-delay="0.4s"><i class="fa fa-diamond"></i> Administrador</a> 
                        <a class="btn btn-primary btn-lg wow fadeInDown" data-wow-delay="0.4s"><i class="fa fa-shield"></i> Moderador</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-2"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <blockquote class="twitter-tweet" data-lang="es"><p lang="pt" dir="ltr">Seguime en estas cuentas!<br>Facebook: <a href="https://t.co/GHrND9I21T">https://t.co/GHrND9I21T</a> <br>Twitter: <a href="https://t.co/d6P8lPf5Ol">https://t.co/d6P8lPf5Ol</a> <br>Instagram: <a href="https://t.co/aAaF11qXKo">https://t.co/aAaF11qXKo</a> <br>Tumblr: <a href="https://t.co/bQk58DvFdn">https://t.co/bQk58DvFdn</a><br>Pinterest: <a href="https://t.co/1j4st58H4I">https://t.co/1j4st58H4I</a><br>Google+: <a href="https://t.co/6Z7WCBDBL3">https://t.co/6Z7WCBDBL3</a> <br>Web: <a href="https://t.co/dlMhTxP5lH">https://t.co/dlMhTxP5lH</a> <a href="https://t.co/VAQ1es0RJk">pic.twitter.com/VAQ1es0RJk</a></p>— Frases&Efectos (@frasesyefectos) <a href="https://twitter.com/frasesyefectos/status/952445043972993025?ref_src=twsrc%5Etfw">14 de enero de 2018</a></blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="alert alert-success"><a href="https://headervideo.github.io/hvheadervideo/">Repositorio web en vivo | Repo site en live</a></div>
            <div class="alert alert-info" role="alert">
                <div class="row">
                    <div class="col-6">
                        
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>                            
            </div>
            <hr>
           ------------------------------------------
            <hr>
            <h3 class="card-header">Solución <span class="float-right">Solution</span></h3>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item bg-danger">Se eliminó</li>
                        <li class="list-group-item">bootstrap.min.css de Material Design</li>
                        <li class="list-group-item">bootstrap.min.js de Material Design</li>
                        <li class="list-group-item border border-0"> </li>
                        <li class="list-group-item bg-success">Se arregló</li>
                        <li class="list-group-item">bootstrap.min.css para Material Design</li>
                        <li class="list-group-item">bootstrap.min.js para Material Design</li>
                        <li class="list-group-item">mdb.min.css</li>
                        <li class="list-group-item">mdb.min.js</li>
                        <li class="list-group-item">jarallax.js</li>
                        <li class="list-group-item">jarallax-video.js, tarda en iniciar.. Aun no se la razón</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item bg-danger">It is eliminated</li>
                        <li class="list-group-item">bootstrap.min.css from Material Design</li>
                        <li class="list-group-item">bootstrap.min.js from Material Design</li>
                        <li class="list-group-item border border-0"> </li>
                        <li class="list-group-item bg-success">Se arregló</li>
                        <li class="list-group-item">bootstrap.min.css for Material Design</li>
                        <li class="list-group-item">bootstrap.min.js for Material Design</li>
                        <li class="list-group-item">mdb.min.css</li>
                        <li class="list-group-item">mdb.min.js</li>
                        <li class="list-group-item">jarallax.js</li>
                        <li class="list-group-item">jarallax-video.js, It takes time to start .. I still do not know why</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 px-2">
            <a data-pin-do="embedUser" data-pin-lang="es" data-pin-scale-height="240" data-pin-scale-width="80" href="https://ar.pinterest.com/frasesyefectos/"></a>
            <script async defer data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
            <hr>
            <h5 class="card-header">En instagram @frasesyefectos</h5>
            <div style="position: relative; height: 16px; width: 100%; overflow: hidden; padding-top:133.33333333333331%;">
            <iframe src="//widgets-code.websta.me/w/8b4d0c2155f9?ck=MjAxOC0wMS0xMFQwMzowOTozOS4wMDBa" class="websta-widgets" allowtransparency="true" frameborder="0" scrolling="no" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe><!-- WEBSTA WIDGETS - widgets.websta.me -->
            </div>
        </div>
    </div>
</div>

<hr>

{% endblock %}